@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700 &display=swap'); 

/* @import url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css'); */
html {
    scroll-behavior: smooth;
    /* height: 100%; */
}
body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(128, 128, 128, 0.1);
    height: 100%;
}

body > header {
    padding-bottom: 1%;
    /* display: inline; */
    /* background-color: yellow; */

    /* background: rgb(0,0,0); */
    background: linear-gradient(185deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 45%);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    padding-top: 40px;
    margin-bottom: 20px;
}
.flexrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
h1 {
    margin: 10px 0 0;
}
h3 {
    color: #6a67fa;
    /* font-size: larger; */
}
h4 {
    color: #989bfc;
    /* font-size: large; */
}

p {
    font-size: smaller;
}
.jumbotron {
    font-size: 20px;
    padding: 150px 1% 1% 1%;
    margin: 0 15%;
    background-image: url('./assets/jumbotron.jpg');
    background-position: bottom;
    background-size: cover;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0 0 10px 10px;
    /* padding: 20px; */
}
.title {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title p {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.5);
    font-size: small;
}
.badge a {
    margin: 0 5px;
}
.badge {
    margin-bottom: 10px;
}
.profile-img {
    position: static;
    margin-bottom: -35px;
    z-index: 0;
    min-height: 20px;
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 25px;
    border-color: white;
    border-width: 5px;
    border-style: solid;
}
.nav,
.nav.responsive {
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    margin: 0;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 10px 0;
}
.nav ul, .nav.responsive ul {
    margin: 0;
    padding: 0;
    /* margin: 10px 0; */
}
.nav .list, .nav.responsive .list {
    justify-content: center;
}
.nav li,
.nav.responsive li {
    list-style-type: none;
    margin: 0;
    padding: 0px 10px;
}
.nav a,
.nav.responsive a {
    display: block;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: lighter;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
.nav a::after, .nav.responsive a::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 3px;
    top: 75%;
    left: 25%;
    background: #ff7000;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
    /* z-index: -1; */
}
/* .nav a:hover:not(active),
.nav.responsive a:hover:not(active) {
    background-color: #00c8eb;
} */
.nav a:hover:not(active)::after,
.nav.responsive a:hover:not(active)::after {
    transform: scaleX(1);
    transform-origin: left;
}
.nav a:active,
.nav.responsive a:active {
    opacity: 50%;
    font-weight: lighter;
}
.nav .menu,
.nav.responsive .menu {
    font-size: 18px;
    font-weight: bolder;
    display: none;
    text-align: justify;
    margin: 0;
    color: white;
}
/* 
.nav #Menu6,
.nav.responsive #Menu6 {
    display: none;
} */

main.flexrow {
    /* margin: 0 15%; */
    /* display: flex;
    flex-direction: row; */
    align-items: flex-start;
    justify-content: center;
    /* height: 100%; */
}

.stripe-heading {
    overflow: hidden;
    text-align: center;
    font-size: x-small;
    opacity: 50%;
    margin: 0 15px 0 15px;
}

.stripe-heading:before, .stripe-heading:after {
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 30%;
}
.stripe-heading:before {
    right: 1em;
    margin-left: -100%;
}
.stripe-heading:after {
    left: 1em;
    margin-right: -100%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.card p {
    text-align: justify;
}
.featured-image {
    /* float: left; */
    /* margin-right: 10px; */
    align-self: center;
    width: 100%;
    max-width: 500px;
    object-fit: cover;
    object-position: center;
    max-height: 400px;
}

.clear {
    clear: left;
}

table {
    clear: right;
    text-align: left;
}

#content {
    margin-right: -10px;
    max-width: 550px;
    /* height: 100%; */
    /* overflow-y: auto; */
    scroll-behavior: smooth;
}
/* #content>.card{
    margin-right: 10px;
} */
#content.wide-content {
    max-width: 900px;
    margin: 0;
}

aside {
    margin-left: -10px;
    max-width: 350px;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    position: sticky;
    top: 50px;
    /* scroll-snap-stop: normal;
    scroll-snap-align: end; */
}
/* aside>.card{
    margin-left: 10px;
} */
aside em {
    font-size: small;
    opacity: 50%;
    font-style: normal;
}
.event.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
.date {
    font-size: x-small;
    font-weight: bold;
    opacity: 50%;
    font-style: normal;
}
.fa {
    /* padding: 10px; */
    font-size: xx-large;
    /* width: 40px; */
    text-align: center;
    text-decoration: none;
    margin: 0;
    font-weight:1;
    background-color: none;
}
.fab {
    /* padding: 10px; */
    font-size: xx-large;
    /* width: 40px; */
    text-align: center;
    text-decoration: none;
    margin: 0;
    font-weight:1;
    background-color: none;
}
.fa-bars {
    font-size: inherit;
    border-radius: 0;
}

.fa-facebook {
    color: #3B5998;
    /* color: white; */
}

.fa-google {
    color: #dd4b39;
    /* color: white; */
}

.fa-linkedin-square {
    color: #007bb5;
    /* color: white; */
}

.fa-github-square {
    color: black;
    /* color: white; */
}
.fa-whatsapp-square {
    /* color: linear-gradient(45deg,#1ebea5, #00e676); */
    color: #00e676;
    /* color: white; */
}
/* .fa-instagram {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: white;
    font-weight: bolder;
} */

footer {
    padding: 10px 0;
    color: white;
    background-color: rgba(128, 128, 128, 1);
    text-align: center;
}
footer p {
    margin: 0;
    font-weight: bold;
    font-size: small;
}
footer i{
    font-style: normal;
    font-size: x-small;
    /* font-size: 90%; */
    color: rgba(255, 255, 255, 0.5);
}
* {
    box-sizing: border-box;
}
@media screen and (min-width: 2000px) {
    main {
        margin: 0 15%;
    }
    #content {
        max-width: 60%;
    }
    aside {
        max-width: 40%;
    }
}
@media screen and (max-width: 1000px) {
    main.flexrow {
        padding: 0;
        margin: 0;
        flex-direction: column-reverse;
    }
    #content, aside {
        position: static;
        max-width: 600px;
        margin: 0;
    }
    /* .featured-image {
    width: 100%;
    } */
}
@media screen and (max-width: 600px) {
    .jumbotron {
        margin: 0;
        border-radius: 0;
    }
    /* html {
        font-size: 90%;
    } */
    .nav,
    .nav.responsive {
        text-align: left;
        padding: 0;
    }
    .nav .menu,
    .nav.responsive .menu {
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        left: 0;
        background-color: black;
    }
    .nav a,
    .nav.responsive a {
        color: white;
        /* font-weight:500; */
    }
    .nav .list {
        display: block;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.8);
        position:absolute;
        top: 0;
        padding-top: 49px;
        z-index: -1;
        bottom: 100%;
        left: 0;
        right: 0;
        width: 100%;
        height: 0;
        -webkit-transition: height 0.5s ease-in-out;
        -moz-transition: height 0.5s ease-in-out;
        -o-transition: height 0.5s ease-in-out;
        transition: height 0.5s ease-in-out;
        overflow-y: hidden;
        
        /* flex-direction: column;
        flex-wrap: nowrap;
        align-items:flex-start;
        justify-content: space-evenly; */
    }
    .nav.responsive .list {
        display: block;
        bottom: 0;
        height: 210px;
    }
    .nav li, .nav.responsive li {
        width: 100%;
        /* -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 1px; */
        /* text-align: left; */
        border-radius: 0;
        padding: 10px;
    }
    #content,
    aside {
        width: 100%;
        padding: 0;
    }

    /*nav.responsive will be generated by javascript*/

    /* .nav.responsive #Menu6 {
        display: inherit;
    } */

   
}
