@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
html { scroll-behavior: smooth; }
body {
		font-family: 'DM Sans'; sans-serif;
		margin: 0;
		padding: 0;
	}

	header	{
		padding-bottom: 1%;
		display: inline;
	}

		.jumbotron {
			font-size: 20px;
			padding: 1%;
			background-color: #989bfc;
			text-align: center;
			color: white;

		}

		.nav, .nav.responsive {
			background-color: rgba(82, 75, 246, 0.8);
			padding: 1px;
			margin: 0;
			position: sticky;
			top: 0;
			text-align: left;
		}

		.nav li, .nav.responsive li {
			display: inline-block;
			list-style-type: none;
			margin: 0;
			padding: 20px 10px;
		}

		.nav a, .nav.responsive a {
			padding: 5px 10px 5px 10px;
			font-size: 18px;
			font-weight: lighter;
			text-decoration: none;
			color: white;
			border-radius: 5px;
			position: static;
			cursor: pointer;
		}

		.nav a:hover:not(active), .nav.responsive a:hover:not(active){
			background-color: #00c8eb;
		}

		.nav a:active, .nav.responsive a:active {
			opacity: 50%;
			font-weight: bold;
		}

		.nav .menu, .nav.responsive .menu {
			font-size: 18px;
			font-weight: bolder;
			display: none;
			text-align: justify;
			margin: 0;
			color: white;
		}

		.nav #Menu6, .nav.responsive #Menu6 {
			display: none;
		}

	main {
		padding: 1%;
		overflow: auto;No Highlights
	}

		h2 { color: #6a67fa;
		}
		h3 {
			color: #989bfc;
		}

		.card {
			box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
			border-radius: 5px;
			padding: 20px;
			margin: 20px;
		}
		.card p {
			text-align: justify;
		}
		.featured-image {
			float: left;
			margin-right: 10px;
			width: 30%;
			object-fit: cover;
			object-position: center;
		}

		.clear {
			clear: left;
		}

		table {
			clear: right;
			text-align: left;
		}

		.kontak {
		text-align: center;
		}

		.kontak img {
			padding: 0;
			margin: 0;
			width: 75%;
			max-width: 130px;
			object-fit: cover;
			object-position: center;
			border-radius: 10px;
		}

	#content {
		float: left;
		width: 75%;
	}

	aside {
		float: right;
		width: 25%;
	}

		.fa {
			padding: 10px;
			font-size: 30px;
			width: 50px;
			text-align: center;
			text-decoration: none;
			margin: 0;
			border-radius: 7px;
		}

		.fa-bars {
			font-size: inherit;
			border-radius: 0;
		}

		.fa-facebook {
  			background: #3B5998;
  			color: white;
		}

		.fa-google {
  			background: #dd4b39;
  			color: white;
		}

		.fa-linkedin {
  			background: #007bb5;
  			color: white;
		}

		.fa-github {
			background: black;
			color: white;
		}

		.fa-instagram {
			background: #d6249f;
			background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);;
			color: white;
			font-weight: bolder;
		}

	footer {
		padding: 1%;
		color: white;
		background-color: #989bfc;
		text-align: center;
		font-weight: bold;
	}

	* {
	box-sizing: border-box;
	}



	@media screen and (max-width: 700px) {

		.nav li {
			display: none;
		}

		.nav li:before {
		content: "\00BB \0020";
	   	}

	    	.nav .menu {
			display: inline;
			position: relative;
			left: 0;
		}

		#content,
		aside {
			width: 100%;
			padding: 0;
		}

		.featured-image {
			width: 50%;
		}
		/*nav.responsive will be generated by javascript*/

		.nav.responsive .menu {
			float: none;
			display: inline;
			position: relative;
		}

		.nav.responsive #Menu6 {
			display: inherit;
		}

		.nav.responsive li {
			position: relative;
			text-align: left;
			border-radius: 0;
			display: block;
			padding: 0;
		}
	}
